body {
    font-family: "Arial";
}
form 
{
    margin-top:25px;
    margin-bottom: 50px;
    display: inline-block;
    margin-left: 25px;
    float:left;
    font-size: 0.8em;
}
#form2 {
    float:right;
}
input[type=text] {
    margin-left:125px;
}
input[type=button] {
   font-weight: bold;
   text-align:right;
} 
div {
    display:inline-block;
    clear:both;
    margin-left:3%;
    width:45%;
    height:45px;
}
div.box {
  margin-left: 3%;
  background-color: #CAD6D6;
  display:inline-block;
  clear:both;
  width:43%;
  border-style: solid;
  border-left-width: 5px;
  border-right-width: 5px;
  border-color: #CAD6D6;
  font-size:0.8em;
  height:auto;
} 
div.box > p {
    font-size:0.9em;
    padding-bottom:0;
    margin-bottom:0;
}
#gisttext {
   float:left; 
}  
#gist {
   float:left; 
}  
ul 
{
    padding-left: 0;
    border-width: 1.25px;
    border-bottom-style:solid;
    padding-bottom:7px;
    padding-top:3px;
}
li {
    list-style-type:none;
}